*swp
ylwrap
/Makefile
Makefile.in
*.tar.gz
cerbo-0.6/
.dirstamp
.deps/
*.exe.stackdump
*.o
a.out
compile
aclocal.m4
autom4te.cache/
config.log
config.status
configure
depcomp
libsupo.a
install-sh
missing
*~
*.exe
.libs/
config.guess
config.sub
*.la
libtool
ltmain.sh
*.lo
