.dirstamp
stats
.deps/
*.exe.stackdump
*.o
a.out
compile
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.log
config.status
configure
depcomp
green/.deps/
libsupo.a
install-sh
missing
*~
*.exe
.libs/
config.guess
config.sub
*.la
libtool
ltmain.sh
*.lo
